{% extends 'layout.html.twig' %}
  {% block title %}CTEC3110 PROJECT{% endblock %}
{% block banner %}
    <div id="banner-div">
        <h1 style="font-style: normal" >Arondeeps Project</h1>

        <hr class="deepline"/>
    </div>
    <div id="clear-div"></div>
{% endblock %}